@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./elevation.scss');
@import url('./truncate.scss');
@import url('./scrollbar.scss');
@import url('./permanent-marker.scss');
@import url('./roboto.scss');

:root {
	--topbar-height: 72px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance
	}

	.transition-bg-surface {
		background-color: var(--md-sys-color-surface);
		transition-property: background-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
}

html {
	@apply transition-bg-surface;
}

* {
	color: var(--md-sys-color-on-surface);
	font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
	-webkit-tap-highlight-color: transparent;
}

.v-enter-active,
.v-leave-active {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

body {
	overflow-y: scroll;
}