/* roboto-100 - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/rbt30-100.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-100.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-100italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: url('../fonts/rbt30-100italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-100italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-300 - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/rbt30-300.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-300.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-300italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/rbt30-300italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-300italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-regular - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rbt30-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-regular.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/rbt30-italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-500 - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rbt30-500.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-500.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-500italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/rbt30-500italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-500italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-700 - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/rbt30-700.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-700.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-700italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/rbt30-700italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-700italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-900 - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/rbt30-900.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-900.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* roboto-900italic - latin_vietnamese */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/rbt30-900italic.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		url('../fonts/rbt30-900italic.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}