/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #b90062 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 9px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #b90062;
	border-radius: 9px;
	border: 4px solid transparent;
}