APP_NAME=
LIBRARY_PATH=

LISTEN_ADDRESS=
SERVER_PORT=
DATABASE_URL=
REVERSE_PROXY_IP_HEADER=CF-Connecting-IP # the header containing real ip address if you're behind a reverse proxy


SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

VITE_SERVER_HOSTNAME=