{
	"root": true,
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser",
		"sourceType": "module",
		"project": "./tsconfig.json",
		"extraFileExtensions": [
			".vue"
		]
	},
	"extends": [
		"plugin:nuxt/recommended",
		"plugin:cadence/recommended",
		"plugin:tailwindcss/recommended"
	],
	"plugins": [
		"cadence"
	],
	"rules": {
		"no-undef": "off",
		"tailwindcss/no-custom-classname": "off",
		"no-restricted-globals": [
			"error",
			{
				"name": "parseInt",
				"message": "Use Number() to convert strings to numbers. parseInt is very liberal with what it considers a number.\nNumber(\"4f\") // NaN\nparseInt(\"4helloworld\") // 4"
			},
			{
				"name": "isNaN",
				"message": "Use Number.isNaN instead. isNaN does not check the input is of type number, and instead coerces input into a number.\nisNaN(\"foo\"); // true\nNumber.isNaN(\"foo\"); // false"
			}
		],
		"@typescript-eslint/consistent-type-definitions": [
			"error",
			"type"
		],
		"@typescript-eslint/restrict-plus-operands": "error"
	}
}