# Nuxt dev/build outputs
src-frontend/.output
src-frontend/.data
src-frontend/.nuxt
src-frontend/.nitro
src-frontend/.cache
src-frontend/dist

# Node dependencies
src-frontend/node_modules
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.idea
target
.eslintcache
*.db

.vscode
docker-compose.yml
.devcontainer/dav1d*
.devcontainer/7zz
*.zip
/library
*.jxl

Main.session.sql