# Nuxt dev/build outputs
client/.output
client/.data
client/.nuxt
client/.nitro
client/.cache
client/dist

# Node dependencies
client/node_modules
.pnpm-store
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.idea
target
.eslintcache
*.db

docker-compose.yml
!.devcontainer/docker-compose.yml
/library

Main.session.sql
7zz
