# Nuxt dev/build outputs
src-frontend/.output
src-frontend/.data
src-frontend/.nuxt
src-frontend/.nitro
src-frontend/.cache
src-frontend/dist

# Node dependencies
src-frontend/node_modules
.pnpm-store
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.idea
target
.eslintcache
*.db

.vscode
docker-compose.yml
.devcontainer/dav1d*
.devcontainer/7zz
*.zip
/library
*.jxl

Main.session.sql
7zz

src-frontend/components/image/blurhash-webp-wasm/
src-frontend/components/image/jxl-webp-wasm/